*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.m-4 {
    margin:4px;
}
#body {
    padding:5px 10px;
}
#account-management-account-info {
    margin:8px 0; 
}

#start, #end {
    padding:6px 8px;
    border:1px solid #ccc;
    border-radius: 6px;
}

#end {


}

.thead {
    width:200px;
    background-color:green;
    color:white;
    font-size:1.2rem;
    padding:8px 0px;
    
}

.thead:first-child {
    border-top-left-radius:6px;
}

.thead:last-child {
    border-top-right-radius:6px;
}

.add-wrap {
    width: 387px;
}
.input {
    width:100%;
    margin-top:10px;
    padding:8px 8px;
    border-radius: 4px;
    border:1px solid #ccc;
}


#btn-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#get-code,
#add-device,
#add {
    background-color:black;
    padding:8px 12px;
    border-radius:16px;
    color:white;
    font-weight: bold;
}

.account-wrap {
    display: flex;
    flex-direction: column;
    margin:8px 0px;
}
.account-management {
    margin-top:60px;
}

.account-list {
}
.account-item_info{
    min-width:150px;
    text-align: center;
    padding:8px 0px;
    
}

.account-item_info:last-child {
    display: flex;
    flex-direction: column;
}

#devices {
    margin:16px 0px;
    display: flex;
    flex-direction: column;
}

#device-select,
.mySelect {
    background-color:white;
    border:1px solid #ccc;
    padding:6px 8px;
    border-radius: 4px;
}

#btn-controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remove,
.reset {
    background-color:blue;
    padding:12px 12px;
    color:white;
    font-weight:bold;
    border: none;
    border-radius: 8px;
    margin:8px 0px;
}

.remove {
    background-color:red;
}



#device-add-form {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#close-add-device-form {
    position: absolute;
    top:10px;
    right:15px;
    color: white;
    background-color: red;
    height:20px;
    width:20px;    
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#overlay {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}


#device-add-form-body {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:300px;
    padding: 20px 8px;
    border-radius: 4px;
}
#device-add-form-body {
    position: relative;
    background-color:white;
    z-index: 10;

}

#device-add-form-body_title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#device-add-form-body_name {
    width:100%;
    padding:4px 8px;
    margin:16px 0px;
    border:1px solid #ccc;
    border-radius: 4px;
}

#device-add-form-body_button {

    background-color:rgb(128, 212, 128);
    width: 100%;
    padding:6px 0px;
    border-radius: 16px;
    border:none;
}

/* style for table device*/
#device-management {
    padding:6px;
    margin-top:50px;
}


#device-management-body {
    visibility: hidden;
    margin:8px 0px;
}

#show-device-btn {

}

#device-mg-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

.device-management-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    background-color:black;
    padding:6px 8px;
    border-radius: 16px;
    color:white;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.btn:last-child {
    background-color: white;
    color:black;
}


.table-device_header {
    padding:6px 8px;
    min-width: 200px;
    background-color: green;
    color: white;
}

.table-device-item {
    min-width: 200px;
    padding:15px 8px;
    margin: 8px 0px;
    text-align: center;
    height: 60px;
}


.table-device-item-delete {
    padding:8px 6px;
    border-radius: 16px;
    color:red;
}


